@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  margin: 0;
  padding: 0;
  position: static;
  font-family: "Vazirmatn", sans-serif;
  background-color: #e7edf8;
  overflow-x: hidden;
  color: #0b1528;
}

.container {
  @apply w-[96%] sm:w-11/12 mx-auto;
}

.container-md {
  @apply w-[96%] sm:w-10/12 mx-auto;
}

.container-sm {
  @apply w-[96%] sm:w-9/12 mx-auto;
}

.ltr-direction {
  direction: ltr;
}
