@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  position: static;
  font-family: "Vazirmatn", sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
  color: #0b1528;
}

.container {
  @apply w-[96%] sm:w-11/12 mx-auto;
}

.container-md {
  @apply w-[96%] sm:w-10/12 mx-auto;
}

.container-sm {
  @apply w-[96%] sm:w-9/12 mx-auto;
}

.dir-ltr {
  direction: ltr;
}

.dir-rtl {
  direction: rtl;
}

/* Headings */
h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl font-medium;
}

h6 {
  @apply text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium;
}

/* Buttons component's styles */

.btn {
  @apply rounded-3xl px-5 py-2 transition-all relative cursor-pointer flex items-center justify-center gap-3 text-sm;
}

.fullWidth {
  @apply w-full;
}

.btn.primary {
  @apply bg-primary cursor-pointer hover:bg-primary/90 text-white;
}

.btn.outlined.primary {
  @apply bg-transparent border border-primary text-primary hover:bg-primary hover:text-white cursor-pointer;
}

.btn.secondary {
  @apply text-white hover:bg-secondary/90 bg-secondary cursor-pointer;
}

.btn.secondary {
  @apply text-white hover:bg-secondary/90 bg-secondary cursor-pointer;
}

.btn.outlined.secondary {
  @apply bg-transparent border border-secondary text-secondary hover:bg-secondary hover:text-white cursor-pointer;
}

.btn.gray {
  @apply hover:bg-gray-200/90 bg-gray-200 cursor-pointer text-primary;
}

.btn.sm {
  @apply p-2;
}

.btn.md {
  @apply p-4;
}

.btn.lg {
  @apply p-6;
}

.btn:disabled {
  @apply bg-gray-300 text-white cursor-not-allowed;
}

/* Pagination's Style */
.page-item {
  @apply rounded-lg border border-gray-500 bg-white text-gray-500 flex justify-center items-center w-10 h-10;
}

a.page-link svg {
  @apply w-8 h-8;
}

.pagination-arrow {
  @apply flex justify-center items-center text-primary;
}

.active {
  @apply bg-primary text-white;
}

.pagination-item {
  @apply rounded-full border border-gray-300 bg-white text-gray-500 flex justify-center items-center w-10 h-10 cursor-pointer;
}

.dots:hover {
  background-color: transparent;
  cursor: default;
}

.selected {
  @apply bg-primary text-white;
}

li .disabled {
  @apply hidden;
}

/* Paper */
.paper {
  @apply rounded-xl bg-white;
}

.paper.sm {
  @apply p-2;
}

.paper.md {
  @apply p-4;
}

.paper.lg {
  @apply p-6;
}
